.App {
  text-align: center;
}

.header {
  background-color: #304163;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.deleteTodo-span {
  text-decoration-line: line-through;
  text-decoration-color: rgb(0, 0, 0);
}

.list-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.todo-list{
  flex: 50%;
}

.completed-list{
  flex: 50%;
}

.todo-item{
  display: grid;
  justify-content: space-around;
  grid-template-columns:5% 90% 5%;
}

.input-priority{
  width: 30px;
}