.App {
  text-align: center;
}

/* Header */

.header {
  background-color: #304163;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* SearchBar  margin: 2em;
  display: flex;*/
.search-bar {
  margin: 2em;
}


.input-item {
  padding: .5em 0;
  border: 0;
  outline: 0;
  color: #304163;
}

.input-priority{
  padding: .5em 0;
  width: 1.5em;
  margin: 0 1em;
  border: 0;
  outline: 0;
  color: #304163
}


/* List */
.deleteTodo-span {
  text-decoration-line: line-through;
  text-decoration-color: rgb(0, 0, 0);
}

.list-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.todo-list{
  flex: 50%;
}

.completed-list{
  flex: 50%;
}

.todo-item{
  display: grid;
  justify-content: space-around;
  grid-template-columns:5% 90% 5%;
}

.footer-content {
  background: #304163;
  bottom: 0;
}