.App {
  text-align: center;
}

/* Header */

.header {
  background-color: #cf6c1b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* SearchBar  margin: 2em;
  display: flex;*/
.search-bar {
  margin: 2em;
}

.listTitle {
  background-color: #d6a781;
  margin: 3em;
  display: inline;
  border-radius: .2em;
  padding-left: .2em;
  padding-right: .2em;
}

.input-item {
  padding: 1em 0;
  border: 0;
  outline: 0;
  color: #304163;
  font-size: 1em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.input-priority{
  padding: .5em 0;
  width: 2.5em;
  height: 2.5em;
  margin: 0 1em;
  border: 0;
  outline: 0;
  color: #304163
}


/* List */
.deleteTodo-span {
  text-decoration-line: line-through;
  text-decoration-color: rgb(0, 0, 0);
}

.list-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.column-todo-list,
.column-completed-list{
  flex: 50%;
  margin: 2em;
}

.todo-item{
  display: grid;
  justify-content: space-around;
  grid-template-columns:5% 90% 5%;
}

.footer-content {
  position: fixed;
  background: #cf6c1b;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 2em;
  color: rgb(248, 248, 248);
}